#block1 {text-align:center;}
#block1 img{width:60%}
#ask{font-size: 1.3em; text-align:center;margin:1em 0}
#opc{background:url("img/opc.png");background-size:100% 100%;text-align:center;}
#opc li{font-size: 1.3em;list-style:none;display:inline-block;vertical-align:top;margin:1em}
#finished{cursor:pointer;float:right;position:relative;top:-60px;width:100px}
