#block1
	img
		width 100%
ul
	text-align center
	padding 0
	margin 1em 0
	li
		list-style none
		display inline-block
		vertical-align top
		margin 0 1em 
	li:hover
		cursor pointer
		color orange
		text-shadow 1px 1px 1px #333

#ask
	text-align center


footer #total
	width 58px