*
	clear right
	cursor pointer
#block1
	img
		
		width 45%
#ask
	background-size 100% 100%
	text-align center
	margin 0 auto	
	width 80%
	#opc
		width 100%
		li
			display inline-block
			list-style none
			margin 0 1em
			vertical-align top
		li:hover
			color orange
			cursor pointer
			text-shadow 1px 1px 1px #333
	.or
		text-align center
		padding 1em 0
		width 100%

footer #total
	width 58px
		
