#block1
	.stage2
		display none
	div
		display inline-block
		vertical-align top
	.block60
		width 50%
		.rej
			width 30%
			display inline-block
			vertical-align top
			img
				width 150%
				position relative
	.block40
		overflow hidden
		line-height 30px
		width 40%
		padding-left 1em 
#ans
	margin 0 auto
	width 80%
	ul
		margin 2em 0
		li
			cursor pointer
			display inline-block
			list-style none
			margin 0 .5em
			vertical-align top
footer #total
	width 58px
@media (max-width:800px)
	#ans
		width 100%
		ul
			li
				margin 0 .5em
