#block1
	img
		width 100%

#ask
	text-align center

ul
	padding 0
	margin 1em 0
	li
		list-style none
		display inline-block
		vertical-align top
		margin .5em 1em
	li:hover
		color orange
		cursor pointer
		text-shadow 1px 1px 1px #333


footer #total
	width 58px
		