#block1
	div
		display inline-block
		vertical-align top
	.block3
		background url('img/opc.png')
		background-size 100% 100%
		width 30%
	.block7
		width 65%
		img
			width 100%
	#opc
		padding 3em 0 0 0
		li
			cursor pointer
			text-align center
			list-style none
			margin .5em 0
		li:hover
			color orange
			text-shadow 1px 1px 1px #333

#ans
	text-align center
	height 40px