#block1
	height 400px
	#resuelto
		width 70%
		height 90%
		float right
		padding 2em 0 0 0
#ask
	margin 1em
	text-align center
#opc
	li
		list-style none
		vertical-align top
		display inline-block
		margin 1em
	li:hover
		cursor pointer
		color orange
		text-shadow 1px 1px 1px #333
footer #total
	width 58px

@media(max-width: 900px)
	#block1
		height 300px

@media(max-width: 800px)
	#block1
		height 250px