#block1
	background url('img/img.png')
	background-size 100%
	background-repeat no-repeat
	div
		display inline-block
		vertical-align top
		height 300px
		padding 2em 0 0 1em 
	.block-2
		width 20%
	.block-4
		width 70%
#ans
	margin 0 auto
	text-align center
	height 100px 
	width 70%
	ul 
		padding 1em 0
		li
			cursor pointer
			display inline-block
			list-style none
			vertical-align top
			width 30%
		li:hover
			color orange
			text-shadow 1px 1px 1px #333
footer #total
	width 58px