
#block1
	img
		width 100%
#ask
	text-align center
#finished
	cursor pointer
	float right
	width 100px
#opc
	background url("img/opc.png")
	background-size 100% 100%
	padding 0
	text-align center 
	margin 1em auto
	width 70%
	li
		display inline-block
		vertical-align top
		margin .5em 1em