#block1
	.block
		display inline-block
		vertical-align top
	.block60
		width 60%
		table tr td
			text-align center
			width 40px
			height 40px
			input
				border 1px solid #ccc
				height 100%
				width 100%
			span
				cursor pointer
		.gray
			background-color #ccc
			border 1px solid #ccc
	.block40 
		width 35%
		img
			width 100%
#btns
	margin 1em 
	width 100%
	text-align center
	img
		cursor pointer
		width 100px

#cluess
	text-align center
	margin 0 auto
	width 90%