#block1 .block{display:inline-block;vertical-align:top}
#block1 .block60{width:60%;}
#block1 .block60 table tr td{font-size: 1.3em; text-align:center;width:40px;height:40px;}
#block1 .block60 table tr td input{border:1px solid #ccc;height:100%;width:100%}
#block1 .block60 table tr td span{cursor:pointer}
#block1 .block60 .gray{background-color:#ccc;border:1px solid #ccc}
#block1 .block40{width:35%;}
#block1 .block40 img{width:100%}
#btns{margin:1em;width:100%;text-align:center;}
#btns img{cursor:pointer;width:100px}
#cluess{text-align:center;margin:0 auto;width:90%}
