#block1 
	div
		display inline-block
		vertical-align top
	.block-25
		width 25%
		ul
			list-style none
			text-align center
			min-height 180px
			li
				cursor pointer
				padding 1em 0 
			li:hover
				color orange
				text-shadow 1px 1px 1px #333
	.block-25:first-child
		background url('img/opc.png')
		background-size 100%
		background-repeat no-repeat
	.block-25:last-child
		background-size 30%
		background-repeat no-repeat
		background-position center
		text-align center
		img 
			width 30%
	.block-50
		width 45%
		img
			width 100%
#ans
	margin 0 auto
	text-align center
	width 70%