audio
	display none
#block1
	.block-50
		display inline-block
		vertical-align top
	.block-50:first-child
		width 35%
		img
			width 40%

		.rig
			text-align right
			p
				float right
		p
			color #00AEEF
			border 1px solid #ccc
			cursor pointer
			font-size .9em
			z-index 3
	p
		padding .5em 0
	#text
		background url('img/libro.png')
		background-position top
		background-repeat no-repeat
		background-size 110%
		font-size .9em
		width 60%
		div
			width 80%
			margin 15% 0 0 20%
input
	border 1px solid #ccc

@media (max-width: 800px)
	#text
		font-size .5em
	.block-50:first-child
		p
			font-size .7em
		
