#audio
	display none
#main
	width 90%
#stage, #opciones
	display inline-block
	min-height 420px
	vertical-align top
	width 60%
	img
		width 100%
#opciones
	background url('img/opc.jpg')
	background-size 100%
	background-repeat no-repeat
	width 35%
	ul
		margin-top 1em
		list-style none
		text-align center
		li
			cursor pointer
			margin 1em 0
			width 100%
		li:hover
			color orange
			text-shadow 1px 1px 1px #333
		.m
			display inline-block
			width 45%
#preg
	text-align center
@media (max-width: 1000px)
	#opciones ul
		margin-top 1em