#block1
	img
		width 30% 
#ask
	height 80px
	text-align center
	width 100%
	.or
		display inline-block
		vertical-align top
		margin 0 auto
		width 80%
	img
		width 10%
		cursor pointer
#opc
	background url('img/opc.png')
	background-size 100%100%
	text-align center
	margin 0 auto
	padding 2em 1em 1em 1em
	width 100%
	ul
		padding 0
		li
			list-style none
			display inline-block
			vertical-align top
			margin  .5em