audio
	display none
#block1
	>div
		display inline-block
		vertical-align top
	#svg
		width 80%
		text-align center
	#panel
		width 90px
		img
			width 100%
			cursor pointer
	.draw:hover
		cursor pointer
header #titulo span
	top -54px
footer #total
	width 58px
