#block1
	#img
		width 100%
#carrousel
	width 100%
	text-align center
	margin 1em 0
	div
		border 1px solid #ccc
		display inline-block
		vertical-align top
		width 70px
		height 70px
		background #e1f3fd
		overflow hidden
		img
			width 150%
#finished 
	cursor pointer
	margin 1em 
#ask
	text-align center
	#opc
		li
			list-style none
			display inline-block
			vertical-align top
			margin 1em 
	input
		width 15%