#block1
	img
		width 100%
#ask
	text-align center
	margin 1em 0
#opc
	background url('img/opc.png')
	background-size 100% 100%
	width 70%
	margin 0 auto
	text-align center
	li
		list-style none
		vertical-align top
		display inline-block
		margin  1em

#f
	width 100px
	cursor pointer
	float right

footer #total
	width 58px