#block1
	img
		width 100%
#ask
	text-align center
#opc
	padding 0
	text-align center
	margin 1em
	li
		list-style none
		display inline-block
		vertical-align top
		margin 1em
	li:hover
		cursor pointer
		color orange
		text-shadow 1px 1px 1px #333
footer
	#total
		width 58px